{% extends  "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <body>
        <p>Hi, I am Phay.</p>
        Education
________________________________________
Msc Computer Systems And Network Engineering
 – First Class	University of Greenwich	2018 - 2019
	Hand-on the System admin, security and automation script.
	Hand-on experience on the network penetration testing.
	Leant Mobile network technologies and securities.
BSc Computer system and Networking
 – Upper Second Class	University of Greenwich	2015 - 2018
	Hand-on Network subneting and routing, understand network technologies and protocols in various level of OSI model.
	Learnt Computer Architectures in terms of Cloud, CPU, hardwares, Embed system, OS and Progarmming languages.
	Hand-on experience on Computer Forensics and Cybersecurity.
IT BTEC Diploma with Math and English	Carshalton College	2011 - 2015

Career Details
________________________________________
QA DevOps Bootcamp
12 weeks training on Agile, Python, Azue, Network and Linux skills, employability Course, Employer networking, and acquire AZ-900 Ceritification.
Go2Games
Empoybility Course reagarding interview skills, apply job, job market search and work experience on create digital content.
EverTrust  Ltd	07/2022 - Present


05/2022


06/2016-09/2021
	Assisstant Manager, 07/2020 -09/ 2021
Increase the retail sales by 300% on e-commerce platforms.
Trains new hires or new promotion, as well as simplify and improve work procedures.
Cooperate with colleagues to solve any updates and queries.
	Warehouse Operative, 06/2016 -12/ 2019
Exceeded key performance indicators over 3 years.

Carshalton College – IT Technician(Work experience)	2014
	Installing and configuring new subnet for new department.
	Solving problems within the ticket system.
	Carry on Authentication and Authorization for the new user in Active Directory.
	Rewire the Ethernet cables in the patch panel from an instruction diagram.
	Reimage the workstation remotely from the server in the domain.

    </body>


{% endblock %}